<app-menu></app-menu>
<div class="row titulo">
  <div class="col-sm-6 col-6 col-md-6">
    <h1>Personal</h1>
  </div>
  <div class="col-sm-6 col-6 col-md-6">
    <button class="btn btn-success" (click)="openModal(template)">
      + añadir
    </button>
    <!--
    <button class="btn btn-success" (click)="addPersonal()">
      + añadir
    </button>
  --></div>
</div>

<ul class="list-group list-group-light">
  <li
    class="list-group-item justify-content-between align-items-center"
    *ngFor="let persona of personas"
  >
    <div class="row">
      <div class="col-6 col-sm-6 col-md-3 centrarVertical">
        <img
          src="{{ persona.urlImagen }}"
          style="width: 80px; height: 80px"
          class="rounded-circle"
        />
      </div>
      <div class="col-6 col-sm-6 col-md-3">
        <p class="fw-bold mb-1">
          {{ persona.nombres }} <span>{{ persona.apellidos }}</span>
        </p>
        <p class="text-muted mb-0"><span>Correo: </span>{{ persona.correo }}</p>
        <p class="text-muted mb-0"><span>Cargo: </span>{{ persona.cargo }}</p>
      </div>
      <div class="col-6 col-sm-6 col-6 col-md-3 centrarVertical">
        <button class="btn btn-primary" (click)="openModalUpdate(actualizar, persona)">
          actualizar
        </button>
      </div>
      <div class="col-6 col-sm-6 col-6 col-md-3 centrarVertical">
        <button class="btn btn-danger" (click)="deletePersona(persona)">
          Borrar
        </button>
      </div>
    </div>
  </li>
</ul>

<!--Modal añadir-->

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Añadir Personal:</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group grupo">
        <label for="exampleInputEmail1">URL Imagen:</label>
        <input
          [(ngModel)]="persona.urlImagen"
          name="urlImagen"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese la url de la imagen"
        />
      </div>
      <div class="form-group grupo">
        <label for="exampleInputEmail1">Nombres:</label>
        <input
          [(ngModel)]="persona.nombres"
          name="nombres"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese los nombres"
        />
      </div>
      <div class="form-group grupo">
        <label for="exampleInputEmail1">Apellidos:</label>
        <input
          [(ngModel)]="persona.apellidos"
          name="apellidos"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese los apellidos"
        />
      </div>
      <div class="form-group grupo">
        <label for="exampleInputEmail1">Correo:</label>
        <input
          [(ngModel)]="persona.correo"
          name="correo"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese el correo"
        />
      </div>
      <div class="form-group grupo">
        <label for="exampleInputPassword1">Cargo:</label>
        <input
          [(ngModel)]="persona.cargo"
          name="cargo"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese el cargo"
        />
      </div>
      <!--
      <button type="submit" class="btn btn-success" (click)="modalRef?.hide()">
        Registrar
      </button>
 -->
      <button type="submit" class="btn btn-success" (click)="addPersonal()">
        Registrar
      </button>
    </form>
  </div>
</ng-template>

<!--Modal actualizar-->

<ng-template #actualizar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Actualizar:</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group grupo">
        <label for="exampleInputEmail1">URL foto</label>
        <input
          [(ngModel)]="personaUpdate.urlImagen"
          name="urlImagen"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Url de la foto para ser modificada"
        />
      </div>
      <div class="form-group grupo">
        <label for="exampleInputEmail1">Nombres:</label>
        <input
          [(ngModel)]="personaUpdate.nombres"
          name="nombres"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Nombre para ser cambiado"
        />
      </div>
      <div class="form-group grupo">
        <label for="exampleInputEmail1">Apellidos:</label>
        <input
          [(ngModel)]="personaUpdate.apellidos"
          name="apellidos"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese los apellidos"
        />
      </div>
      <div class="form-group grupo">
        <label for="exampleInputEmail1">Correo:</label>
        <input
          [(ngModel)]="personaUpdate.correo"
          name="correo"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese el correo"
        />
      </div>
      <div class="form-group grupo">
        <label for="exampleInputPassword1">Cargo</label>
        <input
          [(ngModel)]="personaUpdate.cargo"
          name="cargo"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Cargo para ser cambiado"
        />
      </div>

      <button type="submit" class="btn btn-primary" (click)="updatePersona()">
        Actualizar
      </button>
    </form>
  </div>
</ng-template>
