ul{
    padding: 0 10%;
}
.titulo{
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}
span{
    font-weight: bold;
    color: black;
}
.grupo{
    margin:10px 0 30px !important;
}
.centrarVertical{
    display: flex; 
    align-items: center;
}