<app-menu></app-menu>
<div class="row titulo">
  <div class="col-sm-6 col-6 col-md-6">
    <h1>Productos:</h1>
  </div>
  <div class="col-sm-6 col-6 col-md-6">
    <button class="btn btn-success" (click)="openModal(template)">
      + añadir
    </button>
  </div>
</div>

<ul class="list-group list-group-light">
  <li
    class="list-group-item justify-content-between align-items-center"
    *ngFor="let producto of productos"
  >
    <div class="row">
      <div class="col-6 col-sm-6 col-md-3 centrarVertical">
        <img
          src="{{ producto.urlImagen }}"
          style="width: 80px; height: 80px"
          class="rounded-circle"
        />
      </div>
      <div class="col-6 col-sm-6 col-md-3">
        <p class="fw-bold mb-1">
          {{ producto.nombre }}
        </p>
        <p class="text-muted mb-0">
          <span>Precio: </span>${{ producto.precio }}
        </p>
        <p class="text-muted mb-0">
          <span>Descripción: </span>{{ producto.descripcion }}
        </p>
      </div>
      <div class="col-6 col-sm-6 col-6 col-md-3 centrarVertical">
        <button
          class="btn btn-primary"
          (click)="openModalUpdate(actualizar, producto)"
        >
          actualizar
        </button>
      </div>
      <div class="col-6 col-sm-6 col-6 col-md-3 centrarVertical">
        <button class="btn btn-danger" (click)="deleteProducto(producto)">
          Borrar
        </button>
      </div>
    </div>
  </li>
</ul>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Añadir Producto:</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group grupo">
        <label for="exampleInputEmail1">URL imagen del producto</label>
        <input
          [(ngModel)]="producto.urlImagen"
          name="urlImagen"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese la url de la imagen del producto"
        />
      </div>
      <div class="form-group grupo">
        <label for="exampleInputEmail1">Nombre del producto</label>
        <input
          [(ngModel)]="producto.nombre"
          name="nombre"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese el nombre"
        />
      </div>
      <div class="form-group grupo">
        <label for="exampleInputPassword1">Precio</label>
        <input
          [(ngModel)]="producto.precio"
          name="precio"
          type="number"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese el precio"
        />
      </div>
      <div class="form-group grupo">
        <label for="exampleInputPassword1">Descripción</label>
        <input
          [(ngModel)]="producto.descripcion"
          name="urlImagen"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese el Descripción"
        />
      </div>

      <button type="submit" class="btn btn-success" (click)="addProducto()">
        Registrar
      </button>
    </form>
  </div>
</ng-template>

<ng-template #actualizar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Actualizar:</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group grupo">
        <label for="exampleInputEmail1">URL imagen del producto</label>
        <input
          [(ngModel)]="productoUpdate.urlImagen"
          name="urlImagen"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese la url de la imagen del producto"
        />
      </div>
      <div class="form-group grupo">
        <label for="exampleInputEmail1">Nombre del producto</label>
        <input
          [(ngModel)]="productoUpdate.nombre"
          name="nombre"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese el nombre"
        />
      </div>
      <div class="form-group grupo">
        <label for="exampleInputPassword1">Precio</label>
        <input
          [(ngModel)]="productoUpdate.precio"
          name="precio"
          type="number"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese el precio"
        />
      </div>
      <div class="form-group grupo">
        <label for="exampleInputPassword1">Descripción</label>
        <input
          [(ngModel)]="productoUpdate.descripcion"
          name="descripcion"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese el Descripción"
        />
      </div>

      <button type="submit" class="btn btn-primary" (click)="updateProducto()">
        Actualizar
      </button>
    </form>
  </div>
</ng-template>
